*~
.*.swp
.DS_Store
.vimrc
build
DerivedData
generated
cscope.*
*.pdf
*.pnm
tags
TAGS
*.xcworkspace
*.xcuserdatad
platform/win32/*.user
platform/win32/*.ncb
platform/win32/*.suo
platform/win32/Debug
platform/win32/DebugOpenssl
platform/win32/Profile
platform/win32/Release
platform/win32/ReleaseOpenssl
platform/win32/Memento
thirdparty/v8-3.9
thirdparty/openssl
platform/android/obj
platform/android/bin
platform/android/libs
platform/android/gen
platform/android/local.properties
platform/android/.classpath
platform/android/.project
platform/android/.settings
docs/browse

#Android generated
bin
gen
lint.xml
*.apk

# Android NDK
*.o
*.o.d
*_g
*.a
*.so
*.pinfo
*.gcno
*.bar
gdbserver
gdb.setup
libs

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Other
.DS_Store
tmp
out

#Crashlytics
res/values/com_crashlytics_export_strings.xml
assets/crashlytics-build.properties
